<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="dist/css/config.css">
	<style>
		.cont-info{
			width: 250px;
		}
	</style>
</head>
<body ng-app="app" ng-controller="mapaCtrl">

	<div id="preloader" ng-if="load == true">
	  <div id="status">&nbsp; Construyendo Mapa</div>
	</div>

	<ng-map id="map" zoom="11" center="[-12.173210128048739,-76.85258206660156]">
		<marker position="[{{ data.Latitude }}, {{ data.Longitude }}]" title="{{ data.numestadosistema }}"
      			icon="dist/images/{{ data.numestadosistema }}.png">
        </marker>
 
        <custom-marker  ng-repeat="servicio in servicios track by $index" 
        			 	position="[{{ servicio.latitude }}, {{ servicio.longitude }}]" 
        			 	title="{{ servicio.item }}"
        			 	id="servicio-{{servicio.item}}"
        			 	on-click="showDetail(servicio)">
        	<img ng-src="https://raw.githubusercontent.com/Concept211/Google-Maps-Markers/master/images/marker_green{{servicio.item}}.png" alt="">
        </custom-marker >

      	<info-window id="foo">
	      <div ng-non-bindable="">
	      	<div class="cont-info">
	      		<div class="col-md-12">
	      			<p class="direc">{{ select.direccion }}</p>
	      		</div>
	      		<div class="col-md-12">
	      			<div class="col-md-10" style="text-align: center;">
	      				<img ng-src="https://maps.googleapis.com/maps/api/streetview?size=200x100&location={{ select.latitude }},{{ select.longitude }}&heading=151.78&pitch=-0.76&key=AIzaSyBlCN0dbGrDRimNx608jQRuev489AeW8jQ" alt="">
	      			</div>
	      		</div>
	      	</div>
	      </div>
	    </info-window>

	</ng-map>
	<div id="box_traffic" class="box_traffic">
		<label for="input_traffic">Tráfico</label>
		<input type="checkbox" ng-model="show_traffic" id="input_traffic" name="input_traffic" ng-change="traficos()">
	</div>
	<div id="box_radio" class="box_radio">
		<label for="input_radio">Radio: <div ng-if="show_radio == true" style="float: right;margin-left: 5px;">{{ radio_number }}m</div></label>
		<input type="checkbox" ng-model="show_radio" id="input_radio" name="input_radio" ng-change="radio(data)">
	</div>


	<script src="dist/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="dist/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlCN0dbGrDRimNx608jQRuev489AeW8jQ&libraries=places"></script>
	<script src="dist/bower_components/angular/angular.min.js"></script>
    <script src="dist/bower_components/ngmap/build/scripts/ng-map.min.js"></script>
	<script src="dist/js/mapa1Ctrl.js"></script>
</body>
</html>